.header {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid @gray-line-01;
  box-shadow: 0 0 8px 0px @gray-line-01;
  position: relative;
  z-index: 100;
  .logo {
    margin-right: 20px;
  }
  .title {
    flex: 1;
  }
  .menu {
    flex: none;
    width: 410px;
    ul {
      display: flex;
      flex-direction: row-reverse;
    }
    :global(.ant-menu-item) {
      &:after {
        display: none !important;
      }
    }
  }
}
